//Colors

$tools-inactive:#b7ced2;
$background:#82b21e;
$description-text:#d6f58e;
$tasks-text:#63a91f;
$alt-background:#d6f58e;
$tools-active: #5c8a03;
$tools-icon: #589d62;
$request-input:#9cbd4e;
